/* Broken Pixel Custom Additions */
.admin-bar-logo { margin: -2px 5px 0 -2px; }


/* Media Queries */
@media (max-width: 767px) {
    .hide-below-768 { display: none; }
}
@media (max-width: 479px) {
    .hide-below-480 { display: none; }
}